@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-950 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}

a {
  @apply text-brand-600 hover:text-brand-700 font-semibold;
}
